{% if vypujcky_seznam %}
    <table>
        <thead>
            <tr>
                <th>Název zařízení</th>
                <th>Stav</th>
                <th>Datum od</th>
                <th>Datum do</th>
                <th>Ateliér</th>
                <th>Vlastník</th>
                {% block extra_zahlavi %}{% endblock %}
            </tr>
        </thead>
        <tbody>
            {% for vypujcka in vypujcky_seznam %}
            <tr>
                <td><a href="{{ url_for('zarizeni', id_zarizeni=vypujcka.zarizeni.id) }}">{{ vypujcka.zarizeni.nazev }}</a></td>
                <td>{{ vypujcka.stav }}</td>
                <td>{{ vypujcka.datum_od.strftime('%Y-%m-%d') }}</td>
                <td>{{ vypujcka.datum_do.strftime('%Y-%m-%d') }}</td>
                <td>{{ vypujcka.zarizeni.atelier.nazev }}</td>
                <td><a href="{{ url_for('profil', id_uzivatele=vypujcka.zarizeni.vyucujici.id)}}">{{ vypujcka.zarizeni.vyucujici.jmeno }}</a></td>
                {% block extra_sloupce %}{% endblock %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Žádné záznamy</p>
{% endif %}