{%extends "base.html"%}

{% block head %}
    <title>{{zarizeni.nazev}}</title>
    
{% endblock %}

{% block navbar %}
{% endblock %}

{% block body %}
    <h1>{{zarizeni.nazev}}</h1>

    <form method="POST" action="/zarizeni_sprava/{{zarizeni.id}}" name="data_change">
        <input type="hidden" name="data_change" value="true">
        <label for="name">Název:</label>
        <input type="text" id="name" name="name" value="{{zarizeni.nazev}}" maxlength="100"><br>
        <label for="type">Typ:</label>
        <select name="typ" id="typ">
            {% for typ in typ %}
                <option value="{{typ.id}}" {% if typ.id == zarizeni.id_typ %} selected {% endif %}>{{typ.nazev}}</option>
            {% endfor %}
        </select><br>
        <label for="rok_vyroby">Rok výroby:</label>
        <input type="number" id="num" name="rok_vyroby" min="1900" max="2099" value={{zarizeni.rok_vyroby.year}}><br>
        <label for="datum_nakupu">Datam nákupu:</label>
        <input type="date" id="date" name="datum_nakupu" value={{zarizeni.datum_nakupu}}><br>
        <label for="doba_vypujcky">Maximální doba vypůjčení (dny):</label>
        <input type="number" id="num" name="doba_vypujcky" value={{zarizeni.max_doba_vypujcky}}><br>
        <input type="submit" value="Změň údaje">
    </form>

    <h2>Možné navrácení:</h2>
    {% for navraceni in navraceni%}
        {% if navraceni.vraceni == "Navraceni" %}
            <input type="datetime-local" name="navraceni" id="date" value="{{navraceni.datum}}">
            <button type="button" class="btn btn-primary" onclick="window.location.href='{{url_for('delete_navraceni', id_zarizeni=zarizeni.id, id_navraceni=navraceni.id)}}'">Zrušit</button>            <br>
        {% endif %}
    {% endfor %}
    
    <h2>Možné vypůjčení:</h2>
    {% for navraceni in navraceni%}
    {% if navraceni.vraceni == "Vypujceni" %}
        <input type="datetime-local" name="navraceni" id="date" value="{{navraceni.datum}}">
        <button type="button" class="btn btn-primary" onclick="window.location.href='{{url_for('delete_navraceni', id_zarizeni=zarizeni.id, id_navraceni=navraceni.id)}}'">Zrušit</button>        <br>
        {% endif %}
    {% endfor %}
    
    <h2>Přidat nové datum pro navrácení/vypůjčení:</h2>
    <form method="POST" action="/zarizeni_sprava/{{zarizeni.id}}" name="date_add">
        <input type="hidden" name="date_add" value="true">
        <label for="date">Datum:</label>
        <input type="datetime-local" name="datum_vraceni" id="date_now"><br>
        <label for="type">Typ:</label>
        <select name="vraceni" id="type">
            <option value="Navraceni">Navrácení</option>
            <option value="Vypujceni">Vypůjčení</option>
        </select><br>
        <input type="submit" value="Přidej datum">
    </form>

    <h2><a href="{{url_for('zarizeni_uzivatele_upravit', id_zarizeni=zarizeni.id)}}">Upravit seznam možných půjčovatelů</a><br></h2>
    <h2><a href="{{url_for('zarizeni_smazat', id_zarizeni=zarizeni.id)}}">Smazat zařízení</a></h2>


    <script>
        var today = new Date();
        today.setDate(today.getDate() + 1);
        var nextDay = today.toISOString().substring(0, 16);
        document.getElementById('date_now').value = nextDay;
    </script>
{% endblock %}