{%extends "base.html"%}

{% block head %}
    <title>Přidat zařízení</title>
    
{% endblock %}

{% block navbar %}
{% endblock %}

{% block body %}
    <h1>Přidat zařízení</h1>

    <form method="POST" action="/zarizeni_sprava/zarizeni_pridat">
        <label for="name">Název:</label>
        <input type="text" id="name" name="name" maxlength="100"><br>
        <label for="atelier">Ateliér:</label>
        <select name="atelier" id="typ">
            {% for atelier in atelier %}
                <option value="{{atelier.id}}">{{atelier.nazev}}</option>
            {% endfor %}
        </select><br>
        <label for="type">Typ:</label>
        <select name="typ" id="typ">
            {% for typ in typ %}
                <option value="{{typ.id}}">{{typ.nazev}}</option>
            {% endfor %}
        </select><br>
        <label for="rok_vyroby">Rok výroby:</label>
        <input type="number" id="num" name="rok_vyroby" min="1900" max="2099" value="2023"><br>
        <label for="datum_nakupu">Datam nákupu:</label>
        <input type="date" id="date" name="datum_nakupu" value="2023-01-01"><br>
        <label for="doba_vypujcky">Maximální doba vypůjčení (dny):</label>
        <input type="number" id="num" name="doba_vypujcky"><br>
        
        <label for="date">Datum vypůjčení:</label>
        <input type="datetime-local" name="datum_vypujceni" id="date_now"><br>
        
        <label for="date">Datum navrácení:</label>
        <input type="datetime-local" name="datum_navraceni" id="date_next"><br>
        
        <input type="submit" value="Přidat zařízení">
    </form>

    <script>
        var today = new Date();
        today.setDate(today.getDate() + 1);
        var nextDay = today.toISOString().substring(0, 16);
        document.getElementById('date_now').value = nextDay;

        today.setDate(today.getDate() + 1);
        var nextDay = today.toISOString().substring(0, 16);
        document.getElementById('date_next').value = nextDay;
    </script>
{% endblock %}