{%extends "base.html"%}

{% block head %}
    <title>Login</title>
{% endblock %}

{% block navbar %}
{% endblock %}

{% block body %}
<h1>Přihlaste se</h1>
<form method="POST" action="/login">
    <label for="username">Uživatelský login:</label><br>
    <input type="text" id="login" name="login" maxlength="20" required><br>
    <label for="password">Heslo:</label><br>
    <input type="password" id="pwd" name="pwd" maxlength="30" required><br>
    <input type="submit" value="login">
</form>
{% endblock %}